.cardVaccin {
    padding: .75em;
    background-color: white;
    width: 20em;
    height: 21em;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    /* color: rgba(0, 0, 0, 0.7) !important; */
}

.cardVaccin .meta {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    color: rgba(0, 0, 0, 0.7) !important;
    font-weight: 500;
}

.cardVaccin .meta .title {
    display: flex;
}

.element .meta .title .nom {
    text-align: center;
    color: rgba(20, 204, 255, 1);
    /* border: 3px solid salmon; */
    font-size: x-large;
}

.cardVaccin .meta .title img {
    padding: .1em;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;

}

.cardVaccin .meta .title .nom {
    text-align: center;
    padding: 3%;
}

.others {
    margin-top: 1em;
}