.centreElement {
    height: 10em !important;
    padding: .1em;
    margin: 0.5em;
    border: 5px;
    border-radius: .2em;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    background-color: white !important;
}

.centreElement .centreMeta {
    /* display: flex; */
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

.centreElement .centreMeta .centreTitle {
    display: flex;
    /* border: 3px solid salmon; */
}

.centreElement .centreMeta .centreMeta .centreNom {
    text-align: center;
    padding: 3%;
}

.centreElement img {

    /* border-radius: 50%; */
    /* padding: .1em; */
    /* box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1); */
}

.button {
    width: 100px !important;
    border-radius: 3px;
    /* color: aliceblue; */
    /* border: 2px solid rgb(34, 140, 219) !important; */
    border: 2px solid rgb(6, 209, 124) !important;
    background-color: rgb(6, 209, 124) !important;
    color: aliceblue !important;
    padding: 0.5em 1em;
    cursor: pointer;
    /*diseable text selection*/
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.button:hover {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.button:active {
    transform: translateY(1px);
    color: rgba(0, 0, 0, 0.4) !important;
    /* border: 2px solid rgb(9, 238, 143) !important; */
}

