.content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.titre {
    color: rgb(34, 140, 219);
    font-weight: 500;
    font-size: 2.1em;
    padding: .5em;
}

.liste {
    background: rgb(236, 236, 236);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}