.content {
    /* margin-top: 5px; */
    /* border: 2px solid black; */
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.liste {
    overflow-y: auto;
    /* box-shadow: ; */
    border-radius: 5px;
    margin:.501em .50em;
    /* border: 2px solid black; */
    width: 98%;
    background-color: white;
}

.map {
    float: right;
    /* box-shadow: ; */
    border-radius: 5px;
    margin: .50em .50em;
    /* margin-left: 5px; */
    width: 95%;
    /* border: 2px solid saddlebrown; */
    background-color: white;
}