.sidebar {
    grid-row: span 2;
    width: 300px;
    flex-shrink: 0;
    background: #263957;
    height: 100%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.app-logo {
    padding: .75em 1em;
    display: block;
    height: 56px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
}